{% form_theme form 'form/beer_theme.html.twig' %}
{{ form_start(form, { attr: { id: 'message_form' } }) }}
<div class="s4">
  {{ form_row(form.body, { 'attr': {'style': 'width: 30em;'} }) }}
</div>
{{ form_widget(form.submit) }}
{{ form_end(form) }}
