{% extends 'base.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block stylesheets %}
	<style>
		.container{
			max-width: 90%;
		}
		.input{
			font-size: 2em;
			max-width: 50%;
		}
	</style>
{% endblock %} 

{% block body %}
	{% include 'header.html.twig' %}
	<div class="container center">
		<article class="no-padding">
			<div class="grid no-space">
				<div class="s6">
					<img class="responsive" style="max-width: 30pc;" src="https://images.mubicdn.net/images/cast_member/52568/cache-101647-1600241366/image-w856.jpg?size=800x">
				</div>
				<div class="s6">
                    {% include 'form/user_form.html.twig' %}
				</div>
			</div>
		</article>
	</div>

	<div class="snackbar primary" id="snackbar">Datos editados</div>
{% endblock %}
