{% extends  'base.html.twig' %}

{% block title %}Editar stand{% endblock %}

{% block stylesheets %}
	<style>
		.container{
			max-width: 90%;
		}
		.input{
			font-size: 2em;
			max-width: 50%;
		}
	</style>
{% endblock %} 

{% block body %}
	{% set stand = {"nombre": "Crustaceo Cascarudo", "owner": "Don Cangrejo", "info": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa", "ciudad": "Fondo de Bikini"} %}

	{% include 'header.html.twig' %}
	<div class="container center">
		<article class="no-padding">
			<div class="grid no-space">
				<div class="s6">
					<img class="responsive" style="max-width: 30pc;" src="https://upload.wikimedia.org/wikipedia/commons/2/25/The_Krusty_Krab.png">
				    <button class="circle">
						  <i>attach_file</i>
						  <input type="file">
						</button>
				</div>
				<div class="s6">
					<div class="padding">
						<div class="field border input">
						  <input type="text" value="{{ stand.nombre }}">
						  <span class="helper">Nombre</span>
						</div>
						<div class="field border input">
						  <input type="text" value="{{ stand.owner }}">
						  <span class="helper">Dueño</span>
						</div>
						<div class="field textarea border">
						  <textarea>{{ stand.info }}</textarea>
						  <span class="helper">Información</span>
						</div>
						<div class="field border input">
						  <input type="text" value="{{ stand.ciudad }}">
						  <span class="helper">Ciudad</span>
						</div>
						<nav>
							<a href="/stands"><button class="border round">Volver</button></a>
							<button class="border round" data-ui="#snackbar">Editar</button>
						</nav>
					</div>
				</div>
			</div>
		</article>
	</div>

	<div class="snackbar primary" id="snackbar">Datos editados</div>
{% endblock %}