<header>
  <nav>
    <button onclick="history.back()" class="circle transparent">
      <i>arrow_back</i>
    </button>
    <h5 class="max">Localito</h5>
    <form action="/home" method="POST">
    <button class="circle transparent">
      <i>home</i>
    </button>
    </form>
    <a href="/"><button class="circle transparent">
      <i>logout</i>
    </button></a>
  </nav>
</header>