{% extends 'base.html.twig' %}

{% block body %}
<main class="responsive">
  <article class="medium no-padding" style="margin-top: 5em;">
    <div class="padding absolute center middle" style="text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <p style="font-size: 5em;">Who are you?</p>
      <a href="loginadmin" class="button center" style="margin-bottom: 2em; width: 40em; font-size: 1.2em;"><i>shield_person</i> Admin</a>
      <a href="loginseller" class="button center" style="width: 40em; font-size: 1.2em;"><i>person</i> Seller</a>
    </div>
  </article>
</main>
{% endblock %}
