{% extends 'base.html.twig'  %}

{% block body %}
<main class="responsive">
<article class="medium no-padding">
  <div class="padding  absolute center middle">
    <p>Who are you?</p>
    <a href="loginadmin" class="button center"><i>shield_person</i> Admin</a><br><br>
    <a href="loginseller" class="button center"><i>person</i> Seller</a>
  </div>
</article>
</main>
{% endblock %}
