
{% extends 'base.html.twig'  %}

{% block body %}
<main class="responsive">
  <h1>{{ 'delete.stand.warning'|trans({ '%username%': stand.name() }) }}</h1>
  <p class="large-text">{{ 'delete.note'|trans }}</p>
  
  <nav class="my-mid">
    <a class="button fill" href="/stands">{{ 'action.back'|trans }}</a>
    <a class="button" href="?confirmation=1">{{ 'action.delete'|trans }}</a>
  </nav>
</main>
{% endblock %}

{% block style %}
<style>
  .
</style>
{% endblock %}
