{% extends 'base.html.twig' %}
{% block title %}Usuarios{% endblock %}

{% block js %}
    <script defer>
        const DELETE_EVENT = new Event('delete-accept');

    </script>
{% endblock %}

{% block css %}
    <style>
        main {
            margin: 2em auto;
            max-width: 1000px;
        }

        .actions-container {
            display: flex;
            position: fixed;
        }
    </style>
{% endblock %}

{% block body %}
<main>
    <div class="display-flex">
        <a class="button" href="/user/new">
            <i>add</i>
            <span>Nuevo</span>
        </a>
    </div>

    <table class="border large-space">
        <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
            <tr>
                <td>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span></span>
                    </label>
                </td>
                <td>{{ u.getFullName() }}</td>
                <td>{{ u.getEmail() }}</td>
                <td>{{ u.getPhone() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

<dialog id="delete-dialog">
    <h5>Eliminar ?? elementos</h5>
    <div>Esta apunto de eliminar ?? cantidad de elementos, esta accion no puede revertise</div>
    <nav class="right-align">
        <button data-ui="#delete-dialog" class="border">Cancelar</button>
        <button data-ui="#delete-dialog">Eliminar</button>
    </nav>
</dialog>
{% endblock %}
