{% extends  'base.html.twig' %}

{% block title %}Ver usuario{% endblock %}

{% block stylesheets %}
	<style>
		.container{
			max-width: 90%;
		}
		p{
			font-size: 2em;
		}
	</style>
{% endblock %} 

{% block body %}
	{% set usuario = {"nombre": "Chris Pratt", "telefono": "0123456789", "correo": "mario.bros@ucol.mx", "localitos": "si"} %}

	{% include 'header.html.twig' %}
	<div class="container center">
		<article class="no-padding">
		  <div class="grid no-space">
		    <div class="s6">
		      <img class="responsive" style="max-width: 30pc;" src="https://images.mubicdn.net/images/cast_member/52568/cache-101647-1600241366/image-w856.jpg?size=800x">
		    </div>
		    <div class="s6">
		      <div class="padding">
		        <h2>{{ usuario.nombre }}</h5>
		        <p>Telefono: {{ usuario.telefono }}</p>
		        <p>Correo: {{ usuario.correo }}</p>
		        <p>Numero de localitos: {{ usuario.localitos }}</p>
		        <nav>
		          <a href="/usuarios"><button href="/usuarios" class="border round">Volver</button></a>
		        </nav>
		      </div>
		    </div>
		  </div>
		</article>
	</div>
{% endblock %}